body{
  background-color: gray;
}


.arabic{
  text-align:right;
}

.starbucks{
  background-color: green;
}
.Costa{
  background-color: red;
}
.Caribou{
  background-color: blue;
}

table{
  border-collapse: collapse;
  text-decoration: none;
   text-align: center;
}
  
  
  .tr{
      background-color: white;
  }
  

   th,td{
      border:1px solid white;
  }



img{
  display: inline-block;
}

.eenglish{
  margin: auto;
}

.coffee{
  color: blueviolet;
}


.padding { 
  padding: auto; 
  padding-bottom: 100px; 
  padding-right: 100px;
  padding-left: 500px;
  padding-top: 100px;
   list-style-type: none; }

   .img1{
display: inline-block;
   }
   .img2{
     display: inline-block;
   }
   .img3{
     display: inline-block;
   }

   








/* td {
  background-color: orange;
} */

/* .background {
  background-color: lightcoral;
} */

/* #email {
  background-color: lightcoral;
} */

/* h1.background {
  background-color: lightcoral;
} */



/* .font {
  font-weight: 800;
  font-size: 18px;
} */

.padding { 
 padding: auto; 
 padding-bottom: 100px; 
 padding-right: 0;
  list-style-type: none; 
 } 

/* 
.font {
  font-weight: 800;
  font-size: 18px;
  color: white;
} */

/* body {
  background-color: grey;
} */
